<div layout="column" layout-sm="column" ng-controller="addProjCtrl">
    <form name="addEventForm" ng-controller="eventsCtrl">
        <md-content class="md-padding">

            <md-input-container>
                <label>Title</label>
                <input type="text" name="title" ng-model="title" required>
            </md-input-container>

            <md-input-container>
                <label>Type</label>
                <input name="type" type="text" ng-model="type" required></textarea>
            </md-input-container>

            <md-input-container>
                <label>Organizer</label>
                <input type="text" name="organizer" ng-model="organizer" required>
            </md-input-container>

            <md-input-container>
                <label>Major</label>
                <input type="text" name="major" ng-model="major" required>
            </md-input-container>

            <md-input-container>
                <label>Topic</label>
                <input type="text" name="topic" ng-model="topic" required>
            </md-input-container>

  			<md-input-container>
                <label>Description</label>
                <textarea type="text" name="description" ng-model="description" required></textarea> 
            </md-input-container>
            <time-date-picker ng-model="dateValue" data-display-mode="full" class="modal-content"></time-date-picker>
            <md-input-container>
                {{dateValue | date:'yyyy/MM/dd HH:mm a'}}
            <md-input-container>
            <md-button class="md-raised md-warn" id="submit" type="submit" ng-click="addEvent()">Create Event</md-button>

        </md-content>
    </form>
</div>
