<div layout="column" layout-sm="column" ng-controller="jobsCtrl">
    <form name="addJobForm" ng-controller="jobsCtrl" ng-submit="addJob()">
        <md-content class="md-padding">

            <md-input-container>
                <label>Title</label>
                <input type="text" name="title" ng-model="title" required>
            </md-input-container>

            <md-input-container>
                <label>Type</label>
                <input name="type" type="text" ng-model="type" required></textarea>
            </md-input-container>

            <md-input-container>
                <label>Company</label>
                <input type="text" name="company" ng-model="company" required>
            </md-input-container>

  			<md-input-container>
                <label>Description</label>
                <textarea type="text" name="description" ng-model="description" required></textarea> 
            </md-input-container>
            <md-button class="md-raised md-warn" id="submit" type="submit">Submit</md-button>
        </md-content>
    </form>
</div>
