<div layout="column" layout-sm="column" ng-controller="projectsCtrl">
    <form name="addProjectForm" ng-controller="projectsCtrl" ng-submit="addProject()">
        <md-content class="md-padding">
            <md-input-container>
                <label>Project Name</label>
                <input type="text" name="name" ng-model="name" required>
            </md-input-container>

            <md-input-container>
                <label>Year</label>
                <input type="number" name="year" ng-model="year" required>
            </md-input-container>

            <md-input-container>
                <label>Description</label>
                <textarea md-maxlength="500" name="description" type="text" ng-model="description" required></textarea>
            </md-input-container>
            <!--
            Documentation: <div md-button ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>
            -->
            <md-button class="md-raised md-warn" id="submit" type="submit">Submit</md-button>
        </md-content>
    </form>
</div>
