<md-content class="md-padding">
    

<div ng-controller="cpanelCtrl">

<md-tabs  md-selected="data.selectedIndex" md-dynamic-height md-border-bottom>
 <md-tab label="Cpanel Menu" id="tab1" aria-controls="tab1-content">

   <md-content>
    <md-list>
          <md-button ng-click="setData(1)">Add Senior Project</md-button>
          <md-button ng-click="setData(2)">Add Alumni</md-button>
          <md-button ng-click="setData(3)">Add Event</md-button>
          <md-button ng-click="setData(4)">Add Job</md-button>
          <md-button ng-click="setData(5)">Feedback</md-button>
    </md-list>

 </md-tab>

   <md-tab label="Add Senior Project" id="tab2" aria-controls="tab2-content" ng-hide="true"> 

         <div ng-controller="addProjCtrl" ng-include="'temp/addProjInfo.html'"></div>
          <div ui-view></div>

   </md-tab>

     <md-tab label="Add Alumni" id="tab3" aria-controls="tab3-content" ng-hide="true"> 
         <div ng-controller="alumniCtrl" ng-include="'temp/addAlumni.html'"></div>
          <div ui-view></div>
   </md-tab>

 <md-tab label="Add Event" id="tab4" aria-controls="tab4-content" ng-hide="true"> 

         <div ng-controller="eventsCtrl" ng-include="'temp/addEvents.html'"></div>
          <div ui-view></div>

   </md-tab>

   <md-tab label="Add Job" id="tab5" aria-controls="tab5-content" ng-hide="true"> 

         <div ng-controller="eventsCtrl" ng-include="'temp/addJobs.html'"></div>
          <div ui-view></div>

   </md-tab>

 <md-tab label="Feedback" id="tab6" aria-controls="tab6-content" ng-hide="true"> 

         <div ng-controller="feedbackCtrl" ng-include="'temp/responses.html'"></div>
          <div ui-view></div>

   </md-tab>

</md-tabs>

</div>
  </md-content>









