<md-content class="md-padding">
    

<div ng-controller="cpanelCtrl">

<md-tabs  md-selected="data.selectedIndex">
 <md-tab label="Cpanel Menu" id="tab1" aria-controls="tab1-content">

   <md-content>
    <md-list>
          <md-button ng-click="setData(1)">Adding Senior Projects</md-button>
          <md-button ng-click="setData(2)">List of Users</md-button>
          <md-button ng-click="setData(3)">Add events</md-button>
          <md-button ng-click="setData(4)">Add Jobs/Internships</md-button>
          <md-button ng-click="setData(5)">List of feedbacks</md-button>
    </md-list>

 </md-tab>

   <md-tab label="Add Senior Project" id="tab2" aria-controls="tab2-content" ng-hide="true"> 

         <div ng-controller="addProjCtrl" ng-include="'temp/addProjInfo.html'"></div>
          <div ui-view></div>
  
    <!-- show our formData as it is being typed -->
  <pre>
    {{ formData }}
  </pre>

   </md-tab>

     <md-tab label="Users" id="tab3" aria-controls="tab3-content" ng-hide="true"> 
        <!--
         <div ng-controller="" ng-include="'temp/users.html'"></div>
          <div ui-view></div>
  
        <!-- show our formData as it is being typed -->


   </md-tab>

 <md-tab label="Events" id="tab4" aria-controls="tab4-content" ng-hide="true"> 

         <div ng-controller="eventsCtrl" ng-include="'temp/addEvents.html'"></div>
          <div ui-view></div>

   </md-tab>

   <md-tab label="Jobs/Internships" id="tab5" aria-controls="tab5-content" ng-hide="true"> 

         <div ng-controller="eventsCtrl" ng-include="'temp/addJobs.html'"></div>
          <div ui-view></div>

   </md-tab>

 <md-tab label="Feedbacks" id="tab6" aria-controls="tab6-content" ng-hide="true"> 

         <div ng-controller="feedbackCtrl" ng-include="'temp/responses.html'"></div>
          <div ui-view></div>

   </md-tab>

</md-tabs>

</div>
  </md-content>









