<div ng-controller="eventsCtrl" layout="row" layout-wrap style="height:100%">
    <div flex="33" flex-sm="100" ng-controller="eventsCtrl" ng-repeat="event in events">
        <md-content>
            <md-card>
                <md-card-content>
                    <h3>{{event.title}}</h3>
                    <h5>{{event.type}}, {{event.major}}</h5>
                    <h5>Organizer: {{event.organizer}}</h5>
                    <p>{{event.description}}</p>
                    <!--
                    <md-button ng-show="canDelete()" ng-click="deleteEvent(event.id)">Delete</md-button>
                    -->
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>
