<div layout="column" layout-sm="column" ng-controller="feedbackCtrl">
    <form name="addFeedbackForm" ng-controller="feedbackCtrl" ng-submit="addFeedback()">
        <md-content class="md-padding">

            <md-input-container>
                <label>Which courses did you find to be most beneficial to your career?</label>
                <textarea name="response1" ng-model="response1" required></textarea>
            </md-input-container>

            <md-input-container>
                <label>Which courses have you found to be outdated in the industry?</label>
                <textarea name="response2" ng-model="response2" required></textarea>
            </md-input-container>

            <md-input-container>
                <label>What courses do you think should be added to the catalog?</label>
                <textarea name="response3" ng-model="response3" required></textarea>
            </md-input-container>

            <md-input-container>
                <label>What technologies do you think should be covered in our courses?</label>
                <textarea name="response4" ng-model="response4" required></textarea>
            </md-input-container>

            <md-input-container>
                <label>Additional concerns, comments or input</label>
                <textarea name="response5" ng-model="response5" required></textarea>
            </md-input-container>
        </md-content>
        <md-button class="md-raised md-warn" id="submit" type="submit">Submit</md-button>
    </form>
</div>
