<md-content class="md-padding">
<div ng-controller="homeCtrl">
<md-tabs  md-selected="data.selectedIndex">
 <md-tab label="Home" id="tab1" aria-controls="tab1-content">

<md-card>
 <div layout="column" layout-align="center center" style="height: 150px;min-height: 100px;" layout-fill>
<span>
	  <p>Chose a major</p>
    <md-select ng-model="aMajor" placeholder="Majors">
          <md-optgroup label="Majors">
        <md-option ng-value="deptName.name" ng-repeat="deptName in depts">{{deptName.name}}</md-option>
        </md-optgroup>
      </md-select>
</div>
</span> 
 <img src="/img/alumni-banner-web.jpg" class="md-card-image">
 <h2>As a graduate, you are a lifetime member of the Alumni Association of Notre Dame de Namur University — more than 12,000 strong.</h2>
 <p>
The Alumni Office helps alumni stay connected with each other and with the university. As a member, you have access to the NDNU Online Community and to the NDNU Alumni Association group on LinkedIn, which enables you to network with fellow alums, find classmates, recommend colleagues or search for a new job. The Alumni Office also sponsors class reunions, Alumni and Family Weekend and campus and regional events. Once an Argonaut, you are always an Argonaut and a member of the NDNU family.
 </p>
</md-card>

 </md-tab>

   <md-tab label="Senior Projects" id="tab2" aria-controls="tab2-content" ng-disabled="data.tabLocked">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, natus. Pariatur quod dignissimos, vel esse hic officiis quo beatae fuga inventore cupiditate dolore sit sapiente illum ducimus commodi quidem. Ut.</md-tab>

   <md-tab label="Alumni" id="tab3" aria-controls="tab3-content" ng-disabled="data.tabLocked">Alumni Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, natus. Pariatur quod dignissimos, vel esse hic officiis quo beatae fuga inventore cupiditate dolore sit sapiente illum ducimus commodi quidem. Ut.</md-tab>

    <md-tab label="Jobs/Internships" id="tab4" aria-controls="tab4-content" ng-disabled="data.tabLocked">Jobs Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, natus. Pariatur quod dignissimos, vel esse hic officiis quo beatae fuga inventore cupiditate dolore sit sapiente illum ducimus commodi quidem. Ut.</md-tab>

     <md-tab label="Guest lecture" id="tab5" aria-controls="tab5-content" ng-disabled="data.tabLocked">Guest Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, natus. Pariatur quod dignissimos, vel esse hic officiis quo beatae fuga inventore cupiditate dolore sit sapiente illum ducimus commodi quidem. Ut.</md-tab> 

      <md-tab label="Events" id="tab6" aria-controls="tab6-content" ng-disabled="data.tabLocked">Events Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, natus. Pariatur quod dignissimos, vel esse hic officiis quo beatae fuga inventore cupiditate dolore sit sapiente illum ducimus commodi quidem. Ut.</md-tab> 

   <md-tab label="Feedback" id="tab6" aria-controls="tab6-content" ng-disabled="data.tabLocked">Feedback Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, natus. Pariatur quod dignissimos, vel esse hic officiis quo beatae fuga inventore cupiditate dolore sit sapiente illum ducimus commodi quidem. Ut.</md-tab>
</md-tabs>

    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
        </div>
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
        </div>
        <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab3"
             ng-switch-when="2"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
        </div>
         <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab4"
             ng-switch-when="3"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
        </div>
         <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab5"
             ng-switch-when="4"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
        </div>
         <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab6"
             ng-switch-when="5"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
        </div>

    </ng-switch>

</div>
  </md-content>









