<md-dialog>
    <div layout="column" layout-align="center center" layout-align-sm="space-between center">
    <md-content class="md-padding">
            <form name="logInForm" ng-submit="submit()" ng-controller="loginCtrl">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" name ="email" ng-model="email" required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" name ="password" ng-model="password" required>
                </md-input-container>
                <md-input-container>
                    <md-button type="button" id="cancel" class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
                    <md-button type="submit" id="submit" class="md-raised md-primary">Log In</md-button>
                </md-input-container>
            </form>
        </div>
    </md-content>
</md-dialog>
