<md-dialog>
  <md-content>
    <md-subheader class="md-sticky-no-effect">Enter Name And password</md-subheader>
  <div class="md-actions" layout="row" layout-align="center center" layout-sm="column" layout-align-sm="space-between center">
        <form name="logInForm">
      <md-input-container>
        <label>Email</label>
        <input type="email" name ="email" ng-model="user.email" required>
        <div ng-messages="logInForm.email.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
       <md-input-container>
        <label>Password</label>
        <input type="password" name ="password" ng-model="user.password" required>
        <div ng-messages="logInForm.password.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
       <md-button type="submit" class="md-raised md-primary">Log In</md-button>
      </form>  
    <md-button class="md-raised md-warn">I forgot my password </md-button>
    </div>
  </md-content>
</md-dialog>