<div ng-controller="barCtrl">
  <md-content>
  <md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Logo" ui-sref="home" ui-sref-active="active">
    <img src="img/logo2.svg" style="height: 100%;width: 100%" aria-hidden="true">
  </img>
</md-button>
<a ng-href="#/" layout="row" flex="" class="docs-logo" href="#/">
  <div class="docs-logotype">
    <h2 class="md-display-2">
      <span>NDNU Alumni</span>
    </h2>
  </div>
</a>
<span flex></span>
<div class="md-toolbar-item docs-tools" layout="column" layout-gt-md="row" offset-md="66">
  <md-button ng-click="showControlPanel()">{{getCpanelText()}}</md-button>
  <md-button ng-click="showAdvanced($event)">{{getLoginText()}}</md-button>
  <md-button href="#/signup">Sign Up</md-button>
</div>
</div>
</md-toolbar>
</div>
