<div ng-controller="signUpCtrl" layout="column" layout-sm="column">

  <md-content class="md-padding">
      <md-card>
    <form name="signUpForm" ng-submit="submit()" ng-controller="signUpCtrl">
      <md-input-container>
        <label>First Name {{signUpForm.fName}}</label>
        <input type="text" ng-model="first" name="first" required>
        <div ng-messages="signUpForm.fName.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Last Name {{signUpForm.lName}}</label>
        <input ng-model="last" name="last" required>
        <div ng-messages="signUpForm.fName.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      	 <md-input-container>
        <label>Email {{signUpForm.email}}</label>
        <input type="email" ng-model="email" name="email" required>
        <div ng-messages="signUpForm.e.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Grad. Year {{signUpForm.gYear}}</label>
        <input type="number"  ng-model="year" name="year" required>
        <div ng-messages="signUpForm.gYear.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

         <md-input-container>
        <label>Major {{signUpForm.major}}</label>
        <input type="text" ng-model="major" name="major" required>
        <div ng-messages="signUpForm.major.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Phone# {{signUpForm.phone}}</label>
        <input ng-model="phone" name="phone" required>
        <div ng-messages="signUpForm.phone.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      	 <md-input-container>
        <label>About Me</label>
        <textarea md-maxlength="300" type="text" name="about" ng-model="about"></textarea>
        <div ng-messages="signUpForm.aboutMe.$error">
       </div>
      </md-input-container>

	<md-card>
      <md-button type="submit" id="submit" class="md-raised md-warn" style="height: 45px;">Submit</md-button>
</md-card>
   </form>
    </md-card>
  </md-content>
</div>
