<div ng-controller="signUpCtrl" layout="column" layout-sm="column">

  <md-content class="md-padding">
      <md-card>
    <form name="signUpForm" ng-submit="submit()" ng-controller="signUpCtrl">
      <md-input-container>
        <label>First Name</label>
        <input type="text" name="first" ng-model="first" required>
      </md-input-container>

      <md-input-container>
        <label>Last Name</label>
        <input type="text" name="last" ng-model="last" required>
      </md-input-container>

      <md-input-container>
        <label>E-mail</label>
        <input type="email" name="email" ng-model="email" required>
      </md-input-container>

      <!-- added 4/8/15  -->
      <md-input-container>
        <label>Password</label>
        <input  type="password" name="password" ng-model="password" required>
      </md-input-container>

      <md-input-container>
        <label>Confirm Password</label>
        <input type="password" name="confPass" ng-model="confPass" required>
      </md-input-container>

      <md-input-container>
        <label>Graduation Year</label>
        <input type="number" name="year" ng-model="year" required>
      </md-input-container>

    <md-select placeholder="Major" ng-model="major" required>
        <md-option value="Accounting">Accounting</md-option>
        <md-option value="Art">Art</md-option>
        <md-option value="Art and Graphic Design">Art and Graphic Design</md-option>
        <md-option value="Art Therapy">Art Therapy</md-option>
        <md-option value="Biological Sciences">Biological Sciences</md-option>
        <md-option value="Business Administration">Business Administration</md-option>
        <md-option value="Clinical Psychology">Clinical Psychology</md-option>
        <md-option value="Clinical Psychology, MFT">Clinical Psychology, MFT</md-option>
        <md-option value="Communication">Communication</md-option>
        <md-option value="Computer and Information Science">Computer and Information Science</md-option>
        <md-option value="Education">Education</md-option>
        <md-option value="English">English</md-option>
        <md-option value="Gerontology Certificate">Gerontology Certificate</md-option>
        <md-option value="History">History</md-option>
        <md-option value="Interdisciplinary Studies">Interdisciplinary Studies</md-option>
        <md-option value="Kinesiology">Kinesiology</md-option>
        <md-option value="Liberal Arts">Liberal Arts</md-option>
        <md-option value="Liberal Studies">Liberal Studies</md-option>
        <md-option value="Musical Performance">Musical Performance</md-option>
        <md-option value="Nursing">Nursing</md-option>
        <md-option value="Performance Certificate (Music)">Performance Certificate (Music)</md-option>
        <md-option value="Philosophy">Philosophy</md-option>
        <md-option value="Political Science">Political Science</md-option>
        <md-option value="Post-Baccalaureate Premedical Program">Post-Baccalaureate Premedical Program</md-option>
        <md-option value="Preliminary Education Specialist Credential">Preliminary Education Specialist Credential</md-option>
        <md-option value="Preliminary Multiple Subject Credential">Preliminary Multiple Subject Credential</md-option>
        <md-option value="Preliminary Single Subject Credential">Preliminary Single Subject Credential</md-option>
        <md-option value="Preliminary Administrative Services Credential">Preliminary Administrative Services Credential</md-option>
        <md-option value="Psychology">Psychology</md-option>
        <md-option value="Public Administration">Public Administration</md-option>
        <md-option value="School Administration">School Administration</md-option>
        <md-option value="Sociology">Sociology</md-option>
        <md-option value="Special Education">Special Education</md-option>
        <md-option value="Systems Management">Systems Management</md-option>
        <md-option value="Theatre">Theatre</md-option>
    </md-select>

      <md-input-container>
        <label>Phone Number (Optional)</label>
        <input type="tel" name="phone" ng-model="phone">
      </md-input-container>

      <md-input-container>
        <label>Profile Image URL (Optional)</label>
        <input name="image" ng-model="image" md-maxlength="512" type="text">
      </md-input-container>

      <md-input-container>
        <label>About Me (Optional)</label>
        <textarea md-maxlength="300" name="about" type="text" ng-model="about"></textarea>
      </md-input-container>

         <md-button type="submit" id="submit" class="md-raised md-warn" style="height: 45px;">Submit</md-button>
   </form>
    </md-card>
  </md-content>
</div>
