<div ng-controller="UsersCtrl">
  <md-list>
<md-subheader class="md-no-sticky">List of alumni</md-subheader>
  <md-list-item ng-repeat="user in users" ng-click="goToPerson(user.firstName, user.lastName, user.year, user.major, user.email, user.phone, user.description, $event)">
		 <img ng-if="user.image == null " alt="{{ user.firstName }}" src="/img/UsersList/img/photo.jpg" class="md-avatar">
    <img ng-if="user.image != null " alt="{{ user.firstName }}" ng-src="{{ user.image }}" class="md-avatar">
    <p>{{user.lastName}},{{user.firstName}}</p>
  </md-list-item>
</md-list>
</div>
