/* Toolbar area */

.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }


/* Primary content area */

#content {
  overflow: hidden;
}
  #content md-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
  }
    #content .md-button.action {
      background-color: transparent;
      border: none;
      height: 38px;
      margin: 8px auto 16px 0;
      position: absolute;
      top: 10px;
      right: 25px;
      width: 36px;
    }

    #content img {
      display: block;
      height: auto;
      max-width: 500px;
    }

/* Utils */

.content-wrapper {
  position: relative;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.selectdemoOptionGroups p {
  padding: 0 20px;
  text-align: center; }
.selectdemoOptionGroups p.result {
  font-size: 0.8em;
  color: #777; }
.selectdemoOptionGroups .demo-content {
  min-height: 348px; 
}
