<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="./app.css" >
    <script>
// Simple GET request example :
alert("something");
$http.get('http://google.com').
  success(function(data, status, headers, config) {
    // this callback will be called asynchronously
    // when the response is available
    alert("hello");
  }).
  error(function(data, status, headers, config) {
    // called asynchronously if an error occurs
    // or server returns response with an error status.
    alert("world");
  });
    </script>
  </head>

  <body ng-app="starterApp" layout="column" ng-controller="AppCtrl">

 <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">
      Alumni Network
    </h1>
  </md-toolbar>
  <md-content class="md-padding">
    <form name="projectForm">
      <md-input-container>
        <label>User Name</label>
        <input md-maxlength="30" required name="description" ng-model="project.description">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input required name="clientName" ng-model="project.password" type="password">
        <div ng-messages="projectForm.password.$error">
          <div ng-message="required">This is required.</div>
        </div>
    </form>
  </md-content>
<section layout="column" layout-sm="column" layout-align="center center">
      <md-button class="md-raised" onclick="loginAction();">Login</md-button>
      <md-button ng-href="{{googleUrl}}" target="_blank">Forget Password?</md-button>
      <md-button ng-href="{{googleUrl}}" target="_blank">New User Registration</md-button>
    </section>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>

    <script src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./app.js"></script>
    <script src="./src/avatars/avatarService.js"></script>

  </body>
</html>
